@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body{
	background: black;
	overflow: hidden;
}

.container{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

iframe{
	margin-bottom: 40px;
	border-radius: 35px;
}

svg{
	background: black;
	border-radius: 35px;
}