@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Space+Mono:ital@0;1&display=swap');


body{
	background-color: black;
	color: whitesmoke;
}

#header{
	font-family: 'Space Mono', monospace;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

h1{
	font-size: 80px;
	line-height: 85px;
	word-spacing: -30px;
	font-weight: none;
	margin-bottom: -2%;
}

h2{
	font-size: 50px;
	word-spacing: -10px
}

#container{
	font-family: 'Space Mono', monospace;
	font-size: 13px;
	font-style: italic;
	line-height: 17px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.item{
	flex: 2 0 350px;
	margin: 2%;
}

.image{
	flex: 0 0 400px;
}

img{
	width: 100%;
}